<!DOCTYPE HTML>
<html lang="pt-BR">
<head>
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    
    <!-- SEO Meta Tags -->
    {% include seo.html %}
    
    <!-- CSS -->
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
    
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{{ '/images/favicon.png' | relative_url }}">
    
    {% if page.custom_css %}
    <style>{{ page.custom_css }}</style>
    {% endif %}
</head>
<body class="is-preload">
    <div id="wrapper">
        <div id="main">
            <div class="inner">
                {% include header.html %}
                {{ content }}
            </div>
        </div>
        {% include sidebar.html %}
    </div>
    
    <!-- Scripts -->
    <script src="{{ '/assets/js/jquery.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/browser.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/breakpoints.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/util.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
    
    {% if page.custom_js %}
    <script>{{ page.custom_js }}</script>
    {% endif %}
</body>
</html>